{% extends 'base.html' %}
{% block title %}Registrar Entrada{% endblock %}
{% block content %}
    <div class="card">
        <h2 style="margin-top:0;">📥 Registro de Entrada</h2>
        <form method="POST">
            <label><b>Placas del Vehículo:</b></label>
            <input type="text" name="placa" placeholder="Ej. ABC-123" required>
            
            <label><b>Tipo de Vehículo:</b></label>
            <select name="tipo">
                <option value="Car">Automóvil</option>
                <option value="Motorcycle">Motocicleta</option>
            </select>
            
            <button type="submit" style="background-color: #2ecc71;">Generar Acceso y Ticket</button>
        </form>
    </div>
{% endblock %}