{% extends 'base.html' %}
{% block title %}Registrar Salida{% endblock %}
{% block content %}
    <div class="card">
        <h2 style="margin-top:0;">📤 Registro de Salida y Cobro</h2>
        <form method="POST">
            <label><b>ID del Ticket Activo:</b></label>
            <input type="number" name="ticket_id" placeholder="Ej. 1" required>
            
            <label><b>Tiempo de Estancia Simulada (Horas):</b></label>
            <input type="number" step="0.1" name="horas" placeholder="Ej. 2.5" required>
            
            <button type="submit" style="background-color: #e74c3c;">Calcular Tarifa y Liberar Espacio</button>
        </form>
    </div>
{% endblock %}